  @import url("https://fonts.googleapis.com/css2?family=Puritan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

html,
body,
#root,
.app,
.content {
  font-family: "Cormorant Garamond", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

#addLesson {
  margin-top: 16px;
  width: 20%
}

#unitHeader, #contentHeader {
  margin: auto;
  width: 30%;
  text-align: center;
  border-radius: 4px;
  background-color: #263549;
  color: white;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#addLessonParent {
  display: flex;
  justify-content: center;
}

#accordion {
  border: 2px solid #276184;
  border-radius: 2px;
  margin: 4px auto;
  width: 60%;
  color: #3179a5;
  background-color: rgb(245, 245, 245)
}

#content {
  background-color: #276184;
  color: white; 
  border-radius: 2px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  width: 70%;
  position: relative;
}

#contentTitle {
  font-size: large;
  padding: 16px
}

#contentDescription {
  font-size: medium;
}

#lessonBottom {
  display: flex;
  justify-content: space-between;
}

#contentIcons {
  position: absolute;
  right: 2px;
  bottom: 8px
}

.lessonInputs {
  width: 50%;
  background-color: white;
  border-radius: 4px;
}

.drag {
  text-align: center;
  width: 200px; height: 200px;
  text-align: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  border: 2px solid lightcoral;
  cursor: grab;
}

#dragIcon {
    position: absolute;
    left: 8px;
    bottom: 21.5px;
}

/* Content Display Page */
#breadCrumbs {
  margin-left: 3%;
}

#videoCard {
  margin: auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  background-color: #263549;
  color: white;
  padding: 16px;
}

#surveyCard {
  margin: auto;
  width: fit-content;
  text-align: center;
  font-weight:bolder;
  border-radius: 16px;
  background-color: #dde9f8;
  color: #263549;
  padding: 16px;
  margin-bottom: 16px;
}

#textFieldCard {
  margin-left: 0;
  background-color: #263549;
  padding: 16px;
}

#textFieldInput {
  padding: 2%;
}

.studentCommentButton {
  float: right;
}

#renderCommentCard {
  padding: 16px;
}

/* End Content Display Page */

/* my teacher page */
#pathPage {
  margin: auto;
  margin-top: 4%;
  width: 90%;
  background-color: #263549;
  border: 4px solid #276184;
  border-radius: 4px;
  color: white
}

#pathTitle {
  margin: auto;
  text-align: center;
  margin-top: 16px;
  padding: 2%;
  border-bottom: 2px solid white;
  width: 50%;
}

#pathContents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pathContent {
  background-color: #2b3d53;
  border: 2px solid white;
  border-radius: 4px;
  margin: 3%;
  width: 300px;
  padding-left: 2%;
  padding-bottom: 2%;
  font-size: large;
}

#pathProgress {
  background-color: #2b3d53;
  border: 2px solid white;
  border-radius: 4px;
  margin: 3%;
  width: 666px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 6%;
  text-align: center;
}

#unitProgress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

#chart {
  border: 2px solid white;
  width: 30%;
  height: 0px
}
/* end of my path page */

/* start of my students page */
#myStudentsPage {
  background-color: #263549;
  border: 4px solid #276184;
  color: white;
  width: 90%;
  margin: auto;
  text-align: center;
  border-radius: 4px;
  margin-top: 4%;
}

#myStudentsTitle {
  margin:;
  text-align: center;
  margin-top: 16px;
  padding: 2%;
  border-bottom: 2px solid white;
  width: 70%;
}

#overviewPage {
  margin: auto;
  margin-top: 4%;
  width: 50%;
  background-color: #263549;
  border: 4px solid #276184;
  border-radius: 4px;
  color: white;
  text-align: center;
}

#studentListRow {
  display: flex;
  justify-content:left;
  width: 50%;
  margin: auto;
  padding: 16px;
  border-top: 2px solid white;
}
#studentListRowTop {
  display: flex;
  justify-content:left;
  width: 50%;
  margin: auto;
  padding: 16px;
}

#required {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 2px;
  margin-bottom: 0px;
  margin-left: 8px;
  color: rgb(0, 200, 0);
  position: absolute;
  left: 38%;
}

#require {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 2px;
  margin-bottom: 0px;
  margin-left: 8px;
  color: rgb(0, 200, 0);
  position: absolute;
  left: 0.5%;
  bottom: 60%
}

#contentOverview {
  display: flex;
  justify-content: center;
}

#contentOverviewRow {
  width: 50%;
  margin: auto;
  text-align: center;
  border: 2px solid white;
  border-radius: 4px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #2e415a;
}

.studentListContent {
  text-align: left;
  width: 33%;
}

#photoIcon {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}